body {
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #fff;
	font-size: 14px;
}
body, body * {font-family: "PT Sans", Helvetica, Arial, sans-serif;}

.clearfix {clear: both;}


.sortable-ghost .item__tpl1__left {background-color: #999 !important;}


.btn__tpl1:hover {background-color: #fff;}
.btn__tpl1:focus, .btn__tpl1:active {background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));}
.btn__tpl1.btn__tpl1__red:focus, .btn__tpl1.btn__tpl1__red:active {background-image: linear-gradient(rgba(224, 27, 27, 0.3), rgba(224, 27, 27, 0));}
.btn__tpl1 {
	outline: 0;
	border: 0;
	height: 30px;
	line-height: 30px;
	background-color: #f9f9f9;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	cursor: pointer;
	color: #333;
	font-weight: bold;
	padding: 0 10px
}
.btn__tpl1.btn__tpl1__red {
	color: #fff;
	background-color: rgba(224, 27, 27, 0.7);
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
	box-shadow: 0 0 0 1px rgba(224, 27, 27, 0.2), 0 1px 2px rgba(224, 27, 27, 0.2), inset 0 1px 2px rgba(224, 27, 27, 0.8);
}

.container {
	margin: 30px 150px 15px 150px;
}
.item__tpl1.red .item__tpl1__left {background-color: rgba(224, 27, 27, 0.7);}

.item__tpl1 {
	float: left;
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
}
.item__tpl1__left, .item__tpl1__right {
	float: left;
	height: 30px;
	line-height: 30px;
}
.item__tpl1__left {
	width: 80%;
	background-color: rgba(27, 112, 224, 0.70);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
	border-radius: 5px 0 0 5px;
	cursor: move;
}
.item__tpl1__left__title {
	color: #fff;
	margin-left: 20px;
	font-weight: bold;
}


.item__tpl1__right .btn__tpl1 {padding: 5px 10px; margin-top: -5px;}
.item__tpl1__right {width: 20%;}


#edit_area, #add_area {
	margin-bottom: 15px;
	border: 1px solid #ddd;
	padding: 15px;
	border-radius: 5px;
	display: none;
}


input.inp_field__tpl1 {width: 30%;}
textarea.inp_field__tpl1 {width: 50%; height: 100px;}
.inp_field__tpl1.red:focus {
	border-color: rgba(224, 27, 27, 0.7);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(224, 27, 27, 0.7);
}
.inp_field__tpl1 {
	padding: 5px;
	margin: 0;
	outline: 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	transition: border linear .1s, box-shadow linear .1s;
}
.inp_field__tpl1:focus {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

.btn__tpl1 span {margin-right: 5px;}
